{% extends 'base.html.twig' %}

{% block title %}Presentoire n°{{ rack.id }}{% endblock %}

{% block main %}
    <h1>{{ rack.nom }}</h1>

       {% dump rack %}

    <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ rack.id }}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ rack.nom}}</td>
              </tr>
              <tr>
                  <th>Montres</th>
                  <td>
                  <ul>
                  {%  for watch in rack.watchs %}
                  <li>
                    <a href="{{ path('app_watch_show', {'id': watch.id}) }}">{{ watch.name }}</a>
                  </li>
                  {% endfor %}
                  </ul> 
                  </td>
              </tr>
          </tbody>
      </table>
     <a href="{{ path('app_watch_new', {'id': rack.id}) }}">ajouter montre</a>
    <br>
    <br>
	<a href="{{ path('member_show', {'id': rack.member.id}) }}">revenir au profil</a>

{% endblock %} {# body #} 
{# ... #} 
