<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
              <!-- Bootstrap icons-->
              <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
              <!-- Core theme CSS (includes Bootstrap)-->
          <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %} {# stylesheets #}
    </head>
    
    <body>
    	
    
        
        {% block menu %}
     <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('rack_list') }}">My Watchs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          {{ render_bootstrap_menu('main') }}
                    		
                    		{% if app.user and app.user.id %}
                                   <li class="nav-item">
                                    <a class="nav-link" href="{{ path('member_show', {id: app.user.id}) }}">Mon Profil</a>
                                </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{{ path('rack_show', {id: app.user.id}) }}">Mon Présentoire</a>
                               </li>
                          {% endif %}
                    		
                          {% if app.user %}
                               {{ render_bootstrap_menu('account') }}
                          {% else %}
                               {{ render_bootstrap_menu('anonymousaccount') }}
                          {% endif %} {# app.user #}
                     </ul>
                </div>
            </div>
        </nav>
     {% endblock %}{# menu #}
     
     <div class="container body-container">
			
			
			{% block alerts %}
            {% if app.request.hasPreviousSession %}
               <div class="messages text-center">
                  {% for type, messages in app.flashes %}
                     {% for message in messages %}
                        {# Bootstrap alert, see https://getbootstrap.com/docs/3.4/components/#alerts #}
                        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            <style="background-color: yellow; border-color: yellow;">
                            <div>{{ message|trans }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'action.close'|trans }}"></button>
                        </div>
                     {% endfor %}
                  {% endfor %}
               </div> {# .messages #}
            {% endif %}
         {% endblock %} {# alerts #}
			
            <main>
        
              {# Ici la partie utile que les gabarits des pages vont surcharger #}
            {% block main %}
                <div class="row">
                    <div class="col-md-12">
                        <p> <i> Bienvenue sur mon site </i> </p>
                        <p> Voici la liste des entités disponibles : </p>
                        <ul>
                            <li> <strong>Watch</strong> : Les montres  </li>
                            <li> <strong>Rack</strong> : Les présentoirs </li>
                            <li> <strong>Galerie</strong> : Les galeries  </li>
                            <li> <strong>Member</strong> : Les membres </li>
                        </ul>
                        	<p> <strong> Voici deux utilisateurs lambdas pour essayer et bien voir qu'ils n'ont pas accés au données privées de l'autre' </strong> <p>
            				<p> slash@localhost   123456 <p>
            				<p> olivier@localhost    123456 <p>

                            <p><strong>En tant que membre connecté :</strong> </p>
                            <ul>
                                <li>Vous pouvez accéder à votre inventaire (rack).</li>
                                <li>Vous pouvez éditer vos galeries et les montres qu'elles contiennent.</li>
                            </ul>

                            <p><strong>En tant que visiteur non connecté :</strong></p>
                            <ul>
                                <li>Vous avez accès à la liste des galeries publiées et des objets qu'elles contiennent à partir de l'indexation de la galerie.</li>
                                <li>Vous avez accès à la liste des membres.</li>
                            </ul>

                    </div>
                </div>
            {% endblock %}
              
        
            </main>
        
          </div>
          
          
                   {% block footer %}
          <footer class="text-center text-lg-start bg-light text-muted">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              FOOTER
            </div>
          </footer>
          {% endblock %}{# footer #}

    	
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %} {# javascripts #}
    </body>
    
</html>
