{% extends 'base.html.twig' %}

{% block title %}Watch index{% endblock %}

{% block main %}
    <h1>Watch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for watch in watches %}
            <tr>
                <td>{{ watch.id }}</td>
                <td>{{ watch.description }}</td>
                <td>{{ watch.Name }}</td>
                <td>
                    <a href="{{ path('app_watch_show', {'id': watch.id}) }}">show</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('app_watch_edit', {'id': watch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
