{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block main %}
    <h1>Galerie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galerie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ galerie.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ galerie.description }}</td>
            </tr>
            <tr>
                <th>Publiée</th>
                <td>{{ galerie.publiee ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Montres</th>
                <td>

                        {% if galerie.watchs is empty %}
                                Pas de montre dans cette galerie
                            {% else %}
                                {% for watch in galerie.watchs %}
                                    <li>
                        <a href="{{ path('app_galerie_watch_show', {'id': watch.id}) }}">
            {{ watch.name }}
        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                </td>
			</tr>
            
        </tbody>
    </table>
    {% if app.user and app.user.id == galerie.creator.id %}
    <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}">edit</a>
	{% endif %}
    <br>
    	<a href="{{ path('member_show', {'id': galerie.creator.id}) }}">back to account</a>
{% endblock %}
